<div class="container-fluid">
  <div class="row">
    <app-nav></app-nav>
  </div>
  <div class="row">
    <div class="col-12">
      <app-car-detail></app-car-detail>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-rental-detail></app-car-detail>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-brand></app-brand>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-color></app-color>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-car></app-car>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-customer></app-customer>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-rental></app-rental>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
