<table class="table table-borderless table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Car Name</th>
      <th scope="col">Brand Name</th>
      <th scope="col">Color Id</th>
      <th scope="col">Daily Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let carDetail of carDetails">
      <th scope="row">{{carDetail.carName}}</th>
      <td>{{carDetail.brandName}}</td>
      <td>{{carDetail.colorName}}</td>
      <td>{{carDetail.dailyPrice}}</td>
    </tr>
  </tbody>
</table>
